## Lab 1 데이터의 전반적인 구조를 파악하기

데이터가 주어졌을 때 가장 먼저하는일은 데이터의 전반적인 구조를 파악하는 일이다.
- 어떤 변수(컬럼) 들이 있는가 ?
- 몇 개의 행으로 구성되어 있는가 ?
- 대략적인 통계량

### 전반적인 데이터 구조 파악을 위한 Pandas  함수
- head() : 데이터 앞 부분 출력
- tail() : 데이터 뒷 부분 출력
- shape : 행, 열 개수 출력
- info() : 변수 속성 출력
- describe() : 요약 통계량 출력

In [ ]:
# pandas를 사용하기 위해 Pandas 패키지를 로드
import pandas as pd

In [ ]:
# csv 유형의 exam.csv 파일을 읽어와서 exam 데이터 프레임으로 저장
exam = pd.read_csv('exam.csv')

> head() - 데이터 앞 부분 확인
> tail() - 데이터 뒷 부분 확인

In [ ]:
# 앞에서 5개 행 출력, 데이터의 형태를 추정함
exam.head()

In [ ]:
exam.head(10) # 앞에서 10개 행 출력

In [ ]:
exam.tail()  # 마지막 5개 데이터 출력

In [ ]:
exam.tail(10) # 마직막 10개 데이터 출력

> shape - 데이터의 크기(행과 열의 구성) 알아보기
- shape는 데이터 프레임의 속성(attribute)임 / 함수가 아님

In [ ]:
# 함수 아니고 속성 값임에 주의
# 행의 수는 20, 컬럼(변수)의 수는 4개임을 확인
exam.shape

> info() 변수 속성 파악하기

In [ ]:
# 컬럼의 이름 확인
exam.columns

In [ ]:
# 각 컬럼의 결측치(NULL) 값이 아닌 데이터 값 개수와 데이터 타입을 확인 가능
# 각 컬럼의 속송 확인
exam.info()

> describe() - 숫자 값을 갖는 각각의 컬럼에 대해 요약 통계량을 보여 줌 
- count :  값의 개수 
- mean : 평균 값
- std : 표준 편차 (각 값이 평균 값에서 떨어진 정도)
- min : 최소값
- 25%, 50%, 75% : 하위 (25%, 50%, 75%) 지점에 위치한 값
- max : 최대값

In [ ]:
# 요약 통계량 확인
# 숫자로된 변수(컬럼)의 통계량만 출력됨
# 문자로된 변수(컬럼)의 통계량도 출력하려면 describe(include = 'all)
exam.describe()

###  요약 통계 해석해 보자
- 수학 점수 평균 : (                )점
- 수학 점수 최저점은 (       )점, 최고점은 (       )점
- 학생들의 수학점수는 54점을 중심으로 45.75점(25%)에서 75.75점(75%) 사이에 몰려있다.
- (57.45-20.299) ~ (57.45+20.299)에 약 68%가 분포되어 있음

### 데이터 특성 조금 더 알아보기
- scatterplot() : 변수 간 관계 표현하기(수학 성적과 과학 성적의 상관 관계가 있을까?)
- boxplot() : 집단 간 분포 확인하기(반 별 수학 점수에 차이가 있을까?)

In [ ]:
# 그래프 시각화를 위해 seaborn 패키지를 로드함
import seaborn as sns

In [ ]:
# math와 science 점수간의 상관관계를 파악하기 위해 산포도를 그림
# math와 science 점수간 상관관게가 없어 보임
sns.scatterplot(data = exam, x='math', y='science')

In [ ]:
# 'math' 점수에 대해 각 반별로 박스 수염 그래프를 그려봄
# 25%, 50%, 75% 순서의 값을 확인할 수 있음
sns.boxplot(data = exam, x='nclass', y='math')

## Lab 2 :  mpg 데이터 파악해 보기
- mpg(mile per gallon) 를 통해 데이터 파악해 보기
- 1999년 ~ 2008년까지 미국에서 출시된 자동차 234종의 정보를 담고 있음
- bit.ly/easypy_51


- manufacturer : 제조사
- model : 자동차 모델명
- displ : 배기량(cc)
- year : 생산 연도
- cyl : 실린더 수(4기통, 6기통, ...)
- trans : 변속기 종류 - 자동(auto)/수동(manual)
- drv : 구동 방식 (전륜 f, 후륜 r, 4륜 4)
- cty : 도심 주행시 연비 (예: 18마일/갤런)
- hwy : 고속도로 주행시 연비 (예: 18마일/갤런)
- fl : 연료 종류(일반 가솔린 p, 고급 가솔린 r)
- class : 자동차 크기(compact, suv, van, ...)

In [ ]:
import pandas as pd
mpg = pd.read_csv('mpg.csv')

In [ ]:
mpg.head()

In [ ]:
mpg.shape # 전체 자동차 234종, 11개 속성(컬럼)으로 구성

In [ ]:
mpg.info() # 결측치, 데이터 타입, 데이터 개수 등 파악

In [ ]:
# 컬럼의 데이터 타입이 숫자인 경우만 요약 통계량 출력됨
mpg.describe()

요약 데이터 분석(cty)
- (mean) 자동차가 도시에서 갤런당 평균 16.8마일 주행한다.
- (min/max) 도시 연비가 가장 낮은 모델은 갤런당 9마일, 가장 높은 모델은 35마일 주행한다.
- 도시 연비는 갤런당 17마일(50%)을 중심으로 14마일에서 19마일(25%, 75%) 사이에 몰려 있다.

In [ ]:
# 모든 컬럼의 요약 통계량 출력됨
#   - unique : 중복을 제거한 값의 개수
#   - top : 개수가 가장 많은 값
#   - freq : 개수가 가장 많은 값의 개수
mpg.describe(include = 'all')

요약 데이터 분석(manufacturer)
- (unique) 자동차 제조사의 종류는 15개
- (top) 가장 많은 자동차 모델을 생산하는 제조회사는 dodge다
- dodge는 37종의 모델을 생산한다

### Lab 3 : 컬럼(변수) 이름 바꾸기
- 수집한 데이터의 컬럼 이름을 분석하기 쉬운 이름으로 변경
- df.rename(columns = {'old' : 'new' }

In [ ]:
mpg.head()

In [ ]:
# 데이터 프레임 복사본을 만들기
# 변수명을 바꾸기 전에 원본을 보존하기 위해 복사본을 만들고, 사본에서 작업 
mpg_new = mpg.copy()
mpg_new.head()

In [ ]:
# 고속도로 연비를 나타내는 변수(컬럼) 이름을 hwy에서 highway로 변경
mpg_new = mpg_new.rename(columns={ 'hwy' : 'highway' })
mpg_new.head()

In [ ]:
# 도시 연비를 나타내는 변수(컬럼) 이름을 cty에서 city로 변경
mpg_new = mpg_new.rename(columns={ 'cty' : 'city' })
mpg_new.head()

### Lab 4 :  파생 변수 만들기
- 변수(컬럼)을 조합하거나 함수를 이용하여 새로운 변수를 만들어 분석에 활용
    - 도로를 통틀어 어떤 자동차 모델의 연비가 높은 가를 분석하려고 한다.
    - 분석에 필요한 통합 연비 구하기 (통합 연비 = (도심연비 + 고속도로 연비) / 2)

In [ ]:
mpg.head()

In [ ]:
# 도시연비와 고속도로 연비의 평균 값인 통합연비 total 파생변수(컬럼) 추가
mpg['total'] = (mpg['cty'] + mpg['hwy']) / 2

In [ ]:
mpg.head()

## Lab 5 :  조건문을 이용하여 파생 변수 만들기
- 자동차 통합 연비(total)를 기준으로 자동차 모델별로 합격 판정을 하려고 함
- 합격의 기준이 되는 연비를 어떻게 정할까?

In [ ]:
# 자동차 통합 연비(total) 변수(컬럼)의 요약통계량 구하기
mpg['total'].describe()

### 자동차 연비 평균은 20.14마일/갤런
### 중앙값은 20.05마일/갤런

In [ ]:
# 통합 연비에 대한 histogram 구하기 
# histogram : 값의 빈도를 막대 길이로 표현(5 간격으로 포함된 데이터 개수를 표현)
mpg['total'].plot.hist()

### 요약 통계량과 histogram을 통한 기초 분석
- (요약 통계량) total 연비의 평균과 중앙값이 약 20이다
- (histogram) total 연비가 20~22.5 사이인 자동차 모델이 가장 많다
- (통합) total 연비 대부분은 25이하이고, 25를 넘기는 것은 많지 않다

> 분석 결과를 바탕으로 20마일/갤런 이상인 자동차 모델에 대해 고연비 합격을 주기로 결정

### 합격 판정 변수 만들기
- 고연비 합격 기준(20마일/갤런)을 적용하여 합격 판정 여부 변수 추가

In [ ]:
# 조건에 따라 서로 다른 값을 부여하기 위한 함수 사용을 위해 numpy 패키지를 로드함
import numpy as np

In [ ]:
# total 값이 20 이상이면 'pass', 아니면 'fail' 값을 갖는 변수(컬럼) 'test'를 추가함
# numpy 함수 np.where()를 활용하여 계산
mpg['test'] = np.where(mpg['total'] >= 20, 'pass', 'fail')
mpg.head()

### 빈도표로 합격 자동차 수 살펴보기
- df.value_counts() : 변수 값을 종류별로 값의 개수를 나타낸 표 만들기

In [ ]:
# 변수(컬럼) 분류 값에 대한 빈도 수
# test 변수는 'pass'와'fail' 값을 가지며, 각 분류 값을 갖는 데이터 빈도수 
mpg['test'].value_counts()

> 'pass' 판정은 128대, 'fail' 판정은 106대

In [ ]:
# test 변수는 'pass'와'fail' 값을 가지며, 각 분류 값을 갖는 데이터 빈도수 
# 분류 값을 갖는 데이터 빈도수 테이블을 별도 데이터 프레임으로 저장
count_test = mpg['test'].value_counts()
count_test

In [ ]:
# 'pass'와'fail' 빈도 수를 막대 그래프로 그리기
count_test.plot.bar()

In [ ]:
count_test.plot.bar(rot=0)

## Lab 6 :  중첩 조건문 만들기
- np.where() 안에 np.where()를 중첩하여 분류하기
- 컬럼 total 연비를 기준에 따라 A, B, C 등급으로 분류
- 새로 분류 등급 변수(컬럼) grade를 만드러서 total 연비에 따른 등급값을 부여함

| 등급 | 기준 |
| ---  | ---  |
| A    | 30이상|
| B    | 20~29|
| C    | 20미만|

In [ ]:
# 통합 연비 값에 따라 A, B, C 등급으로 분류한 값을 갖는 'grade' 변수 추가
mpg['grade'] = np.where(mpg['total'] >= 30, 'A',
               np.where(mpg['total'] >= 20, 'B', 'C'))
mpg.head()

> 빈도표와 막대 그래프로 연비 등급 살펴 보기

In [ ]:
# 통합 연비 값에 따라 A, B, C 등급으로 분류된 데이터 개수 테이블 생성
count_grade = mpg['grade'].value_counts()
count_grade

In [ ]:
# 통합 연비 값에 따라 A, B, C 등급으로 분류된 데이터 개수 테이블로 막대 그래프 그리기
count_grade.plot.bar(rot=0)

> 알파벳 순서로 막대 정렬하기

In [ ]:
count_grade = mpg['grade'].value_counts().sort_index()  # 인덱스 값으로 정렬
count_grade

In [ ]:
# 통합 연비 값에 따라 A, B, C 등급으로 분류된 데이터 개수 테이블로 막대 그래프 그리기
count_grade.plot.bar(rot=0)

### 연비에 따른 등급을 더 세분하여 분류해 볼까요?
- np.where() 안에 np.where()를 중첩하여 분류하기
- 컬럼 total 연비를 기준에 따라 A, B, C, D 등급으로 분류
- 새로 분류 등급 변수(컬럼) grade2를 만드러서 total 연비에 따른 등급값을 부여함

| 등급 | 기준 |
| ---  | ---  |
| A    | 30 이상|
| B    | 25 이상|
| C    | 20 이상|
| D    | 20 미만

In [ ]:
# 줄 바꿈과 괄호에 주의
mpg['grade2'] = np.where(mpg['total'] >= 30, 'A',
                np.where(mpg['total'] >= 25, 'B',
                np.where(mpg['total'] >= 20, 'C', 'D')))

In [ ]:
mpg.head()

### 목록에 해당하는 행으로 변수 만들기
- 변수(컬럼) class의 자동차 등급을 확인하고
- class가 'compact', 'subcompact', '2seater'는 small, 나머지 차량은 large로 분류하여 'size' 변수(컬럼)으로 추가

> 차량 class 값 확인 하기

In [ ]:
mpg['category'].info()

In [ ]:
# 'class'의 분류별 빈도수
mpg['category'].value_counts()

In [ ]:
# 괄호에 주의
mpg['size'] = np.where((mpg['category'] == 'compact') |
                       (mpg['category'] == 'subcompact') |
                       (mpg['category'] == '2seater'), 'small', 'large')
mpg.head()

In [ ]:
# 'size'의 분류별 빈도수
mpg['size'].value_counts()

##  Lab 7: 분석 도전
- midwest.csv는 미국 동북중부(East North Central States) 437개 지역의 인구 통계 정보를 담고 있음
- 지역별 아시아계  인구 비율이 높은 지역을 알아보려고 함
- bit.ly/easypy_52

> 데이터를 불러와서 데이터 특징을 파악하시오
1. 'midwest.csv'를 midwest 데이터 프레임으로 읽어오기 (midwest = pd.read_csv('midwest.csv'))
2. midwest 데이터의 행과 열의 갯수 파악 (midwest.shape)
3. 컬럼(변수)의 이름과 변수의 타입 등 파악 (midwest.info())
- poptotal : 해당 지역(state/county)의 총 인구 수
- popasian : 해당 지역(state/county)의 아시아계 인구 수

In [ ]:
midwest = pd.read_csv('midwest.csv')

In [ ]:
midwest.head()

In [ ]:
midwest.shape

In [ ]:
midwest.info()

> poptotal(전체 인구) 변수를 total로, popasian(아시아 계 인구수) 변수를 asian으로 수정하시오

In [ ]:
# poptotal(전체 인구) 변수 이름을 total로 변경
midwest = midwest.rename(columns={'poptotal' : 'total'})

In [ ]:
# popasian(아시아 계 인구수) 변수를 asian으로 수정
midwest = midwest.rename(columns={'popasian' : 'asian'})

In [ ]:
# 결측치, 데이터 타입, 데이터 개수 등 파악
midwest.info()

> total, asin 변수를 활용하여 '전체 인구 대비 안시아 인구 백분율'을 구하여 변수 rate를 저장하고 히스토 그램으로 분포 살펴보기

In [ ]:
# 전체 인구(total) 대비 안시아 인구(asian) 백분율 구하기
midwest['rate'] = (midwest['asian'] / midwest['total']) * 100

In [ ]:
midwest.head()

In [ ]:
# 데이터 프레임 midwest에서 ['county', 'state', 'total', 'asian', 'rate'] 컬럼(변수) 확인
midwest[['county', 'state', 'total', 'asian', 'rate']].head(11)

In [ ]:
# 전체 인구(total) 대비 안시아 인구(asian) 백분율 빈도수 확인
midwest['rate'].plot.hist()

In [ ]:
# 데이터 프레임 midwest의 전체 인구(total) 대비 안시아 인구(asian) 백분율 요약통계량 구하기
midwest['rate'].describe()

> 아시안 인구 전체 백분율을 구하고 평균을 초과하면 'large' 그 외에는 'small'을 부여하는 변수 group 생성

In [ ]:
# 데이터 프레임 midwest의 전체 인구(total) 대비 안시아 인구(asian) 백분율 평균 구하기
midwest['rate'].mean()

In [ ]:
# 전체 인구(total) 대비 안시아 인구(asian) 백분율 
# 평균 값 보다 크면 large 작으면 small 값을 갖는 파생 변수 group 생성
midwest['group'] = np.where(midwest['rate'] > 0.4872, 'large', 'small')  # 평균 값

In [ ]:
# 변수 group의 값에 따른 빈도수 출력
midwest['group'].value_counts()

> 'large'와 'small' 해당 지역이 얼마나 많은지 빈도표와 막대 그래프를 만드시오

In [ ]:
# 변수 group의 값에 따른 빈도수 표를 막대 그래프로 작성
count_group = midwest['group'].value_counts()
count_group.plot.bar()